@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:username=nikita456nikita@yandex.ru
//npm.fontawesome.com/:_password=Dimach321
